*{
  font-family: 'Roboto', sans-serif;
}
  .questions-preview-header {
    color: #106053;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Total Questions Text */
  .total-questions {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Question Card */
  .question-card {
    padding: 15px;
    width: 800px;
    /* border: 1px solid #ced4da; */
    border-radius: 6px;
    background-color: #ffffff;
    transition: box-shadow 0.3s ease;
  }
  
  .question-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  /* Question Content */
  .question-content {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  /* Question Options */
  .question-options {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  /* Form Check Styles */
  .form-check {
    /* display: flex; */
    /* align-items: center; */
    margin-bottom: 5px;
   
  }

  .form-check-input {
    appearance: none; /* Remove default styling */
    width: 10px;
    height: 10px;
    border: 1px solid #ced4da; /* Default Bootstrap-like border color */
    border-radius: 50%; /* Circular shape */
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
    position: relative;
  }
  
  .form-check-input:checked {
    background-color: #106053; /* Green color when selected */
    border-color: #0B3F37;
   
  }

  .form-check-input:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); /* Green focus outline */
  }
  
  
  
  /* Question Answer Text */
  .question-answer {
    margin-top: 5px;
    font-size: 16px;
  }
  
  /* Actions for Edit and Delete Buttons */
  .question-actions {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
  }
  
  .btn-warning {
    margin-right: 10px;
  }

  .icon-edit {
    color: #106053;
    transition: color 0.3s ease;
  }
  
  .icon-edit:hover {
    color: #0B3F37; /* Darker shade on hover */
  }
  
  .icon-trash {
    color: #DC3545;
    transition: color 0.3s ease;
  }
  
  .icon-trash:hover {
    color: #990808; /* Darker shade on hover */
  }
  
  .add-quest{
    background-color: #106053;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    display: block;

    width: fit-content;
    margin-top: 20px;
    
  }

  .add-quest:hover {
    background-color: #0B3F37;
  }