*{
  font-family: 'Roboto', sans-serif;
}




h3 {
    text-align: center; 
    font-size: 24px; 
    font-weight: 600; 
    color: #106053; 
    margin-bottom: 10px; 
    margin-top: 40px;
}

/* Table styling */
.glass-table {
    width: 100%; /* Full width table */
    border-collapse: collapse; /* Merge table borders */
    margin-left: 40px;
    
}

.glass-table th, .glass-table td {
    padding: 12px; /* Padding inside table cells */
    border: 1px solid #ddd; /* Light border for table cells */
    text-align: left; /* Align text to the left */
}

.glass-table th {

    color: #106053; /* White text for header */
}

.glass-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray background for even rows */
}

.E-status-text {
    padding: 6px 12px; /* Padding inside status buttons */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners for buttons */
    font-size: 14px; /* Font size for button text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Transition effect for hover */
}

.E-status-text.draft {
    color: #9b6712; /* Orange for draft status */
}

.E-status-text.published {
    color:  #106053; /* Green for published status */
}

.E-status-text.pending {
    color:  #555f5d; /* Green for published status */
}

.E-status-text.approved {
    color:  #18bb59; /* Green for published status */
}

.E-status-text.rejected {
    color:  #f73131; /* Green for published status */
}

.E-status-text.unpublished {
    color:  #f73131; /* Green for published status */
}

.E-preview-button {
    padding: 6px 12px; /* Padding for preview button */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    background-color:  #106053; /* Blue background */
    color: #fff; /* White text color */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Transition effect for hover */
}

.E-preview-button:hover {
    background-color:  #0B3F37; /* Darker blue on hover */
}

/* Alert messages */
.alert {
    padding: 10px; /* Padding for alert messages */
    margin-top: 15px; /* Margin above alert messages */
    border-radius: 4px; /* Rounded corners */
    font-weight: 500; /* Bold text */
}

.alert-danger {
    background-color: #f8d7da; /* Light red background for error */
    color: #721c24; /* Dark red text */
}
