

.formContainer {
    background: white;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    height: 500px;
    margin: 20px auto; /* Center the form on the page */
    margin-top: 30px;
}

.formTitle {
    color: #106053;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.formGroup {
    margin-bottom: 20px; /* Space between form groups */
}

.label {
    font-weight: bold; /* Make the label bold */
    color: #106053;
}

.formControl {
    width: 100%; /* Full width of the container */
    padding: 10px; /* Inner padding for input fields */
    border: 1px solid #ccc; /* Light border */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Font size for input text */
}

.error {
    color: red; /* Error message color */
}

.success {
    color: green; /* Success message color */
}

.buttonContainer {
    margin-top: 20px; /* Space above button container */
}

.btnPrimary {
    background-color: #106053;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin:auto;
    width: fit-content;
}

.btnPrimary:hover {
    background-color: #0b3f37; /* Darker shade on hover */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 998;
  }
  
  .overlay.active {
    display: block;
  }
  
  .menuOpen .mainContentWrapper {
    pointer-events: none;
  }
  
  .dimmed {
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }
  
  .mainContentWrapper {
    flex: 1;
    transition: opacity 0.3s ease;
  }