* {
  font-family: "Roboto", sans-serif;
}
.uploadExam-form-container {
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  height: 1100px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 115px;
}

.uploadExam-form-title {
  font-size: 28px;
  color: #106053;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.uploadExam-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 550px;
}

.uploadExam-label {
  font-weight: bold;
  color: #106053;
}

.uploadExam-form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.uploadExam-btn-primary {
  background-color: #106053;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: auto;
  width: fit-content;
}

.uploadExam-btn-primary:hover {
  background-color: #0b3f37;
}

.uploadExam-alert-danger {
  color: red;
  background-color: #f8d7da;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.uploadExam-alert-success {
  color: green;
  background-color: #d4edda;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}
