table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: none; 
  }
  
  
  th {
    background-color: #f5f5f5; 
    color: #106053; 
    padding: 12px 15px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
 
  td {
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd; 
  }
  
  
  td:first-child {
    border-left: none;
  }
  
 
  tr:hover {
    background-color: #f5f5f5;
  }
  

  button.btn {
    padding: 7px 13px;
    border-radius: 4px;
   
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  

  button.btn-primary {
    background-color:  #106010;
    color: white;
  }
  
  button.btn-primary:hover {
    background-color: #0B3F37;
  }
  

  button.btn-danger {
    background-color:  #106010;
    color: white;
  }
  
  button.btn-danger:hover {
    background-color: #0B3F37;
  }
  
  
  td:last-child {
    display: flex;
    justify-content: center;
    gap: 10px; 
  } 
  
 
  
  button.btn-secondary:hover {
    background-color: #0B3F37;
  }

  .icon-edit {
    color: #106053;
    transition: color 0.3s ease;
  }
  
  .icon-edit:hover {
    color: #0B3F37; /* Darker shade on hover */
  }
  
  .icon-trash {
    color: #DC3545;
    transition: color 0.3s ease;
  }
  
  .icon-trash:hover {
    color: #990808; 
  }
  
 
  @media (max-width: 768px) {
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  
    
  }

  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
    font-size: 12px;
    padding: 4px 8px;
}

.btn i {
    font-size: 18px;
}

  
  

  
  .layout-container {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 1230px;
  }
  
  .header {
      width: 100%;
      background-color: #f8f9fa;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .main-content {
      display: flex;
      flex: 1;
  }
  
  .sidebar {
      width: 250px;
      background-color: #343a40;
      color: white;
      padding: 20px;
  }
  
  .users-content {
      flex: 1;
      padding: 20px;
      overflow-y: auto;
  }
  
  .table {
      width: 100%;
      margin-top: 20px;
  }
  
  .icon-button {
      background: none;
      border: none;
      margin-left: 10px;
      cursor: pointer;
      color: #000;
  }
  
  .user-controls {
      display: flex;
      align-items: center;
  }
  
  .user-info {
      display: flex;
      align-items: center;
  }
  
  .user-details {
      margin-left: 10px;
  }
  
  .sidebar-link {
      display: flex;
      align-items: center;
      padding: 10px;
      text-decoration: none;
      color: white;
  }
  
  .sidebar-link:hover, .sidebar .active .sidebar-link {
      background-color: white;
  }
  
  .menu-text {
      margin-left: 10px;
  }
  
  .active {
      background-color: #989da1;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 998;
  }
  
  .overlay.active {
    display: block;
  }
  
  .menu-open .main-content {
    pointer-events: none;
  }
  
  .dimmed {
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }
  

  /* new */

  
