@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

  .overall {
    font-family: 'Roboto Slab', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .main-content {
    flex: 1;
    padding: 24px;
    overflow-y: auto;
    background-color: #ffffff;
  }
  
  .dashboard-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #333;
  }

  .dashboard-content {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  .management-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;

    /* flex: 1;
    background-color: #ffffff;
    overflow-y: auto; */
  }
  
   
  @media (max-width: 768px) {
    .dashboard-content {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
      height: auto;
    }
  
    .management-cards {
      grid-template-columns: 1fr;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 998;
  }
  
  .overlay.active {
    display: block;
  }
  
  .menu-open .main-content {
    pointer-events: none;
  }
  
  .dimmed {
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }