/* .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #e6f7ef;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
  width: 100%;
  max-width: 500px;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.icon {
  color: #1a8754;
  margin-bottom: 1rem;
}

.title {
  font-size: 1rem;
  font-weight: 500;
  color: #1f2937;
  text-align: center;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }
} */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #e6f7ef;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
  width: 100%;
  height: 200px;
  max-width: 500px;
  /* aspect-ratio: 3/2; */
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.icon {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #1a8754;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #1f2937;
  text-align: center;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }
}

