

.main-content {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  background-color: #ffffff;
}

.page-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 24px;
}

/* .exam-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
} */
.exam-list-container{width: 100%;}

.exam-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 24px;
}

.exam-card h3 {
  color: #105F53;
  margin-top: 0;
  margin-bottom: 16px;
}

.exam-details p {
  margin: 8px 0;
  color: #333;
}

.exam-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.glass-table{width: 100%;}
.do-exam-btn {
  background-color: #105F53;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.schedule-reminder {
  display: flex;
  align-items: center;
  color: #105F53;
  text-decoration: none;
}

.schedule-reminder svg {
  margin-left: 4px;
}

@media (max-width: 768px) {
  .dashboard-content {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }

  .exam-list {
    grid-template-columns: 1fr;
  }
}