.message-support {
  padding: 20px;
  background-color: #f9fffc;
}

.back-button {
  background: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.error-illustration {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.error-illustration img {
  width: 40%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.support-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.support-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-textarea {
  width: 100%;
  padding: 10px;
  border: 0px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.form-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.send-button {
  background-color: #106053;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

.send-button:hover {
  background-color: #0b3f37;
}

