.overall {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  display: flex;
  flex: 1;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
} 

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #F9FFFC;
  overflow-y: auto;
}

@media (max-width: 384px) {
  .app-content {
    flex-direction: column;
  }

  .main-content {
    padding: 10px;
  }
}