

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #f9f9f9;
    
}

.table {
    width: 90%;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 1.5rem;
    margin-left: 50px;
}

/* Button styling */
/* .btn-secondary,
.btn-danger {
    
    border: none;
    padding: 2px 4px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
} */
/* 
.btn-secondary:hover,
.btn-danger:hover {
    background-color: #0c890c;
} */

/* Optional Table Header styling for consistency */
.table-header {
    font-weight: bold;
    text-align: left;
    background-color: #106010;
    color: #fff;
}

.icon-edit {
    color: #106053;
    transition: color 0.3s ease;
  }
  
  .icon-edit:hover {
    color: #0B3F37; /* Darker shade on hover */
  }
  
  .icon-trash {
    color: #DC3545;
    transition: color 0.3s ease;
  }
  
  .icon-trash:hover {
    color: #990808; /* Darker shade on hover */
  }