@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.admins-list-overall {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.layout-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #ffffff;
}

.main-content {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-grow: 1;
  overflow: hidden;
  background-color: #ffffff;
}

.users-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
.admins-heading {
  font-size: 2rem;
  color: #106053;
}
.admin-actions-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  overflow: hidden;
  width: 100%;
}
.admins-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
  background-color: white; /* White background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: none; /* Remove borders */
}
.admin-custom-button {
  width: 15rem;
  margin-right: auto;
  background-color: #106053;
  color: white;
  border: solid 1px #106053;
}
.admin-custom-button:hover {
  background-color: #004d47;
  cursor: pointer;
}
.admin-search-input {
  width: 15rem;
  outline: none;
  border: solid 1px #106053;
}
.admin-custom-button,
.admin-search-input {
  height: 2.5rem;
  padding: 0 1rem;
  font-size: 1rem;
}
.admin-icon-button {
  background-color: transparent;
  border: none;
}
.admin-list-icon {
  color: #106053;
  height: 60%;
}

.admin-delete-icon {
  color: #DC3545;
  height: 80%;
}
@media (max-width: 600px) {
  .actions-row {
    flex-direction: column;
    align-items: stretch;
  }

  .admin-custom-button,
  .admin-search-input {
    width: 100%;
  }

  .admins-heading {
    font-size: 1.5rem;
    text-align: center;
  }
}

